@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

:root{
  --main-light: #68aaec;
  --main-dark: rgb(17, 1, 24);
  --main-text: #e0a3e0;
  --main-title: #e0a3e0;
}

* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Modern Antiqua';
  box-sizing: border-box;
  background-color: var(--main-dark);
  letter-spacing: 1px;
}

#content{
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  background: url('./dark-magic2.jpeg');
  background-size: 300px;
  justify-content: space-between;
}

.header, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-title);
  background-color: var(--main-dark);
}

.header{
  padding: 20px;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  font-family: "Modern Antiqua";
  font-size: 20px;
  color: var(--main-text);
  background-color: var(--main-dark);
}

.tabs{
  display: flex;
  gap: 20px;
}
.tab{
  border: 1px solid var(--main-light);
  padding: 10px;
}

.name{
  font-size: 64px;
  font-weight: 700;
}

.footer{
  height: 40px;
}

.main-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 25px;
}

.desc{
  text-align: center;
  width: 500px;
  padding: 50px;
  font-size: 20px;
  color: var(--main-text);
  background-color: var(--main-dark);
  border-radius: 25px;
}



